
html{
  height:100%;
  background: radial-gradient(circle, #ffffff, #ccc)
  /*background has double color radial glow(hidden mainly by teal box)*/
}

body{
font-family: sans-serif;
}

.container{
  height: 450px;
  width: 660px;
  background-color: #2EDFC7;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #a6a6a6;
  position: relative; /*must have for interal positioning*/
}

#score{
  background-color: #FFC23C;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  position: absolute; /*positioning w/in container*/
  padding: 10px;
  left: 580px;
  box-shadow: 0px 4px 0px 0px #a6a6a6;
  /* #1 side #2 bottom/top #3glow #4size */
  -moz-box-shadow: 0px 4px 0px 0px #a6a6a6;
  -webkit-box-shadow: 0px 4px 0px 0px #a6a6a6;
}

#Correct{
  position: absolute;
  left: 220px;
  background-color: #FF4C43;
  color: white;
  padding: 10px;
/*  display: none; /*hide the boxes until ready*/
}

#Wrong{
  position: absolute;
  left: 410px;
  background-color: #FF4C43;
  color: white;
  padding: 10px;
  display: none;  /*hide the boxes until ready*/
}


#question{
  width: 430px;
  height: 150px;
  margin: 50px auto 10px auto;
  background-color: #432E41;
  box-shadow: 0px 4px rgba(0,0,0, 0.2);
  border-radius: 5px;
  font-size: 100px;
  text-align: center;
  font-family: sans-serif;
  color:white;
}

#instruction{
  width: 430px;
  height: 50px;
  background-color: #FF4C43;
  margin: 20px auto 10px auto;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-family: sans-serif;
  box-shadow: 0px 4px rgba(0,0,0, 0.2);
  -moz-box-shadow: 0px 4px rgba(0,0,0, 0.2);
  -webkit-box-shadow: 0px 4px rgba(0,0,0, 0.2);
  border-radius: 5px;
}

#choices{
  height: 100px;
  width: 430px;
  margin: 20px auto 5px auto;
}

.boxes{
width: 85px;
height: 85px;
background-color: #CCCCCC;
float: left; /*in a single horizontal line */
margin-right: 29px;
border-radius: 3px;
box-shadow: 0px 4px rgba(0,0,0, 0.2);
-moz-box-shadow: 0px 4px rgba(0,0,0, 0.2);
-webkit-box-shadow: 0px 4px rgba(0,0,0, 0.2);
text-align: center;
line-height: 80px;
font-family: sans-serif;
font-size: 15px;
position: relative;
transition: all 0.2s;
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
-ms-transition: all 0.2s;
}

.boxes:hover, #startReset:hover{
  cursor: pointer;
  background-color: #a6a6a6;
  box-shadow: 0px 4px rgba(0,0,0, 0.4);
  color: white;
  font-size: 15px;
  box-shadow: 0px 0px rgba(0,0,0, 0.4);
  -moz-box-shadow: 0px 0px rgba(0,0,0, 0.4);
  -webkit-box-shadow: 0px 0px rgba(0,0,0, 0.4);
  top: 4px;
}



#box4{
  margin-right: 0;
}

#startReset{
width: 85px;
background-color: rgba(255,255,255, 0.5);
margin: 13 auto 0 auto;
border-radius: 3px;
box-shadow: 0px 4px rgba(0,0,0, 0.2);
-moz-box-shadow: 0px 4px rgba(0,0,0, 0.2);
-webkit-box-shadow: 0px 4px rgba(0,0,0, 0.2);
text-align: center;
padding: 10px;
font-family: sans-serif;
font-size: 15px;
position: relative;
transition: all 0.2s;
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
-ms-transition: all 0.2s;
}


#timeRemaining{
  width: 190px;
  padding: 8px;
  position: absolute;
  top: 423px;
  left: 450px;
  text-align: center;
  background-color: #FFC23C;
  border-radius: 4px;
  box-shadow: 0px 4px rgba(0,0,0, 0.2);
  -moz-box-shadow: 0px 4px rgba(0,0,0, 0.2);
  -webkit-box-shadow: 0px 4px rgba(0,0,0, 0.2);
/*  visibility: hidden; visibility vs. hidden: visibility element is still present in the page and still interacts; display:none is not seen by human or other elements in the webpage; */
  display:none;
}


#gameOver{
  height: 290px;
  width: 500px;
  background-color: #FF4C43;
  color: white;
  font-family: sans-serif;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  left: 95px;
  z-index: 2; /*ensure game over is on top of other elements*/
  display: none;
}
